.container {
    width: var(--width-main);
    max-width: var(--width-max);
    margin: 0 auto;
    padding: 140px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.header {
    font-size: 50px;
    margin: 0;
}
.highlight {
    color: var(--color-primary);
    text-decoration: underline;
}
.tabs {
    display: flex;
    position: relative;
}
.tab {
    flex-basis: 25%;
    text-align: center;
    border-bottom: 1px solid var(--background-quaternary);
    color: var(--text-secondary);
    opacity: .7;
    transition: .2s opacity, .2s color;
    
    button {
        font-size: 16px;
        padding: 10px;
        width: 100%;
        font-weight: 600;
    }

    &.active-tab, &:hover {
        color: var(--text-primary);
        opacity: 1;
    }
}
.tab-stripe {
    background-color: var(--text-primary);
    position: absolute;
    bottom: -1px;
    width: 25%;
    height: 3px;
    transition: left .3s;
}
.sub-header {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.selectors {
    display: grid;
    gap: 15px;
}
.selector {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}
.selector-preview {
    display: flex;
    gap: 15px;
    width: 350px;
}
.selector-image {
    overflow: hidden;
    border-radius: var(--border-radius-primary);
}
.selector-image, .loading-selector-title, .loading-selector-subtitle, .loading-selector-extra {
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-primary);
}
.loading-selector-title {
    height: 27px;
    width: 100px;
}
.loading-selector-subtitle {
    height: 19px;
    width: 160px;
}
.loading-selector-extra {
    height: 17px;
    width: 180px;
}
.selector-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.selector-title {
    font-size: 22px;
    font-weight: 600;
}
.selector-extra {
    font-size: 14px;
}