.container {
    --container-gap: 50px;
    gap: var(--container-gap);
    width: var(--width-main);
    max-width: var(--width-max);
    margin: 0 auto;
    padding: 140px 0;
    display: flex;
    flex-direction: column;
}
.header {
    font-size: 50px;
    margin: 0;
}
.highlight {
    color: var(--color-primary);
    text-decoration: underline;
}
.sub-header {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.selectors {
    display: grid;
    gap: 15px;
}
.selector {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}
.selector-preview {
    display: flex;
    gap: 15px;
    width: 350px;
}
.selector-image {
    overflow: hidden;
    border-radius: var(--border-radius-primary);
}
.selector-image, .loading-selector-title, .loading-selector-subtitle, .loading-selector-extra {
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius-primary);
}
.loading-selector-title {
    height: 27px;
    width: 100px;
}
.loading-selector-subtitle {
    height: 19px;
    width: 160px;
}
.loading-selector-extra {
    height: 17px;
    width: 180px;
}
.selector-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.selector-title {
    font-size: 22px;
    font-weight: 600;
}
.selector-extra {
    font-size: 14px;
}
.song-results {
    border-top: 1px solid var(--background-tertiary);
    padding-top: var(--container-gap);
}
.song-results-header {
    font-weight: 500;
    margin: 0;
}
.song-result-container {
    --row-amount: 4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px,100%), 1fr));
    gap: 15px;
    margin-top: var(--container-gap);
}
.artist-info {
    display: flex;
    gap: 80px;
}
.artist-card {
    display: flex;
    gap: 15px;

    &.small {
        .artist-card-image {
            width: 80px;
            height: 80px;
        }
        .artist-card-text {
            gap: 5px;
        }
        .artist-card-name {
            font-size: 18px;
        }
        .artist-card-subtitle {
            font-size: 13px;
        }
        .artist-card-extra {
            font-size: 12px;
        }
    }
}
.artist-card-image {
    border-radius: var(--border-radius-primary);
    overflow: hidden;
    position: relative;
    width: 160px;
    height: 160px;
}
.artist-card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.artist-card-header {
    font-size: 14px;
    color: var(--text-secondary);
}
.artist-card-name {
    font-size: 26px;
    font-weight: 700;
}
.artist-card-extra {
    color: var(--text-secondary);
    font-size: 14px;
}
.related-artists {
    h2 {
        margin-top: 0;
    }
}
.related-artists-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(min(260px,100%), 1fr));
}
.artist-work {
    display: flex;
    gap: 20px;

    &>div {
        flex: 1;
    }
}
.artist-tracks-header {
    font-weight: 600;
    display: block;
    padding: 15px;
    background-color: var(--background-tertiary);
}
.artist-tracks {
    background-color: var(--background-secondary);
    border-radius: var(--border-radius-primary);
    overflow: hidden;
}
.artist-track-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    max-height: 240px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--background-tertiary);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--background-quaternary);
        border-radius: 120px;
    }
}
.artist-track {
    display: flex;
    justify-content: space-between;

    span {
        font-size: 14px;
    }
}
.artist-track-main {
    display: flex;
    align-items: center;
    gap: 10px;
}
.artist-track-image {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

@media (max-width: 800px) {
    .artist-card-image {
        width: 100px;
        height: 100px;
    }
    .artist-card-name {
        font-size: 18px;
    }
}
@media (max-width: 700px) {
    .selectors {
        gap: 40px;
    }
    .selector {
        flex-direction: column;
        align-items: unset;
    }
    .artist-info {
        flex-direction: column;
        gap: 15px;
    }
    .artist-work {
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .container {
        padding: 100px 0;
        h1 {
            font-size: 36px;
        }
    }
}