.container {
    position: absolute;
    width: 100%;
    z-index: 14;
    color: var(--text-primary);

    &.light {
        color: var(--text-light-primary);

        .tab {
            color: var(--text-light-primary);
        }
    }
}
.content {
    padding: 22px 0;
    width: var(--width-main);
    max-width: var(--width-max);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;

    span {
        margin-top: -3px;
    }
}
.header-image {
    --dimensions: 40px;
    
    width: var(--dimensions);
    height: var(--dimensions);
    position: relative;

    svg {
        display: block;
    }
}
.right {
    --gap: 20px;
    gap: var(--gap);
    display: flex;
    align-items: center;
}
.tabs {
    display: flex;
    gap: var(--gap);
}
.tab {
    color: var(--text-secondary);

    &.active, &:hover {
        color: var(--text-primary);
    }
}
.ham {
    display: none;
}

@media (max-width: 700px) {
    .right {
        --gap: 40px;
        position: fixed;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-secondary);
        flex-direction: column;
        padding: 90px 0;
        font-size: 22px;
    }
    .button {
        font-size: 16px;
    }
    .tabs {
        flex-direction: column;
        text-align: center;
    }
    .ham {
        display: block;
    }
}