.container {
    width: var(--width-main);
    max-width: var(--width-max);
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-top: -20px;
    padding: 20px 0;
    background-color: var(--background-primary);
    z-index: 14;

    h2 {
        font-size: 30px;
        margin: 0;
    }
}
.top-header-main {
    display: flex;
    align-items: center;
    gap: 25px;
}
.top-items {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(min(160px, 100%), 1fr));
}
.top-item {
    text-align: center;
}
.top-image {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    border-radius: var(--border-radius-primary);
    background-color: var(--background-tertiary);
    overflow: hidden;
    display: block;
}
.top-item-name-loading {
    height: 19px;
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: var(--background-quaternary);
    border-radius: var(--border-radius-primary);
}
.top-item-name {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.recommendations-header {
    h2 {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0;
    }
}
.recommendation-items {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
}

@media (max-width: 700px) {
    .top-header, .top-header-main {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}
@media (max-width: 400px) {
    .top-header h2 {
        font-size: 24px;
    }
}